@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .base-layout {
    @apply flex h-full w-full min-w-[360px] sm:w-[500px]
    bg-background-mobile;
  }

  @font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  * {
    font-family: 'Nanum Gothic', sans-serif;
  }

  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
  }
}
