@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  * {
    font-family: 'Pretendard-Regular';
  }
}

@layer components {
  .base-layout {
    @apply flex flex-col items-center h-full w-full sm:w-[500px]
    bg-background-mobile;
  }

  .content-layout {
    @apply h-full px-[10px] space-y-3 overflow-y-scroll pb-[75px];
  }

  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
  }
}
